<h1>
  List of Coupons
</h1>
<p><%= link_to "Add coupon", new_coupon_path %></p>
<ul>
  <% @coupons.each do |coupon| %>
    <li>
      <%= link_to "#{coupon.coupon_code} , #{coupon.store}", coupon%>
    </li>
  <% end %>
</ul>
